.modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
}

.modal-content {
    background-color: #2b2b34;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #4a4a72;
    width: 30%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#courseDetails {
    color: #ffffff;
}

#courseDetails img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

#courseDetails h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffffff;
}

#courseDetails p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #bebebe;
}

.close {
    color: #bebebe;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}

.notify-content{
    bottom: 0;
    left: 50%;
    z-index: 10000;
    transform: translateX(-50%);
    position: fixed;
    width: 30%;
    height: 6vh;
    background-color: #4CAF50;
    text-align: center;
    align-content: center;
    font-size: large;

    border-radius: 15px;
}
.warn-content{
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    position: fixed;
    width: 30%;
    height: 6vh;
    background-color: #b04646;
    text-align: center;
    align-content: center;
    font-size: large;
    border: #2b2b34 2px solid;
    border-radius: 15px;
    transition: transform 0.5s;
}
.warnCourseModal{
    z-index: 100;
    opacity: 0;
    transition: opacity 0.5s;
}

.sucModal{
    opacity: 0;
    transition: opacity 0.5s;
}
#warningModal{
    color: red;
}
@media screen and (max-width: 768px) {
    .notify-content{
        width: 100%;
    }

}