.courseElement{
    background-color: #2b2b34;

    border-radius: 15px;
    width: 150px;
    height: 120px;
    padding: 10px;
    margin: 10px;
    position: relative;
    overflow: hidden;

}
.courseElement > img {
    width: 64px;
    height: 48px;
    object-fit: cover;
    border-radius: 15px;
}
.personalModal{
    display: none;
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.31);
    padding-top: 60px;
}
.personal-content{
    background-color: #4d4d5d;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;

    height: 75%;
    border-radius: 15px;
}
#lib-courses-root{
    display: grid;

}

.payForCoursesButton{
    width: 150px;
    border: none;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    transition: background-color 0.2s;
    font-size: .9em;
}
.payForCoursesButton:hover{
    background-color: #c4c4c4;
}

.courseElement:hover .overlay {
    opacity: 1;
}
#lib-courses-root{
    overflow: hidden;
    overflow-scrolling: touch;

}
#lib-courses-root::-webkit-scrollbar {
    width: 0;
}

.overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-icon {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Graphik, Tahoma, sans-serif;
    display: none;
}

.courseElement:hover .download-icon {
    display: block;
}
@media screen and (min-width: 768px) {
    #lib-courses-root{
        grid-template-columns: repeat(4, 0.1fr);

    }
    .personal-content{
        width: 50%;

    }
}
@media screen and (max-width: 1280px) {
    .personal-content{
        width: 60%;
        overflow: scroll;
    }
    #lib-courses-root{
        grid-template-columns: repeat(4, 0.1fr);
    }
}
@media screen and (max-width: 1024px) {
    .personal-content{
        width: 75%;
        overflow: scroll;
    }
    #lib-courses-root{
        grid-template-columns: repeat(4, 0.1fr);
    }
    .warn-content{
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .personal-content{
        overflow: scroll;
    }
    #lib-courses-root{
        grid-template-columns: repeat(2, 0.01fr);

        scroll-behavior: smooth;
        scroll-padding: 100px;

    }
    .personal-content{
        width: 90%;
        height: 100%;
    }
    .courseElement{
        width: 130px;
        height: 100px;
    }

}